<section id="features" class="bg-light py-5">
  <main>
    <div class="container px-4" id="featured-3">
      <h2 class="pb-4 text-center display-4 fw-bold text-dark">Features</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 text-warning"
          >
            <i class="fa-solid fa-globe"></i>
          </div>
          <h3 class="fs-4 text-body-emphasis text-dark">Free Shipping</h3>
          <p class="small text-secondary">
            Enjoy the convenience of free shipping on all orders over $50! We
            believe shopping for your favorite fashion should be hassle-free.
          </p>
          <a href="#" class="icon-link btn btn-warning">Order Now</a>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 text-warning"
          >
            <i class="fa-solid fa-money-bill"></i>
          </div>
          <h3 class="fs-4 text-body-emphasis text-dark">
            Secure Payment Options
          </h3>
          <p class="small text-secondary">
            Your security is our priority. We offer a variety of payment
            options, all protected by advanced encryption technology to keep
            your personal and financial information safe.
          </p>
          <a href="#" class="icon-link btn btn-warning">Order Now</a>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 text-warning"
          >
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <h3 class="fs-4 text-body-emphasis text-dark">Fast Delivery</h3>
          <p class="small text-secondary">
            We understand that waiting for your order can be tough, which is why
            we offer fast, reliable delivery. Get your latest fashion finds
            delivered in just 2-3 business days!
          </p>
          <a href="#" class="icon-link btn btn-warning"> Order Now </a>
        </div>
      </div>
    </div>
  </main>
</section>
