<section class="mt-5 container">
  <h2 class="text-center display-4 fw-bold" style="color: #1a1a1a">
    Our Latest Arrivals
  </h2>
  <p class="me-auto ms-auto w-75 mt-3 text-center lead text-muted">
    Explore our newest collection of fashion-forward pieces that blend style
    with sustainability. From casual wear to sophisticated outfits, our latest
    arrivals offer something for every occasion.
  </p>

  <div class="row gap-4 justify-content-center mt-4">
    <div class="card col-md-12 col-xl-3 shadow border-0">
      <img
        src="blue-t-shirt.jpg"
        class="card-img-top img-fluid"
        alt="Casual Dress"
      />
      <div class="card-body">
        <h5 class="card-title" style="color: #1a1a1a">Stylish Casual Dress</h5>
        <p class="card-text text-muted">
          Effortlessly chic and perfect for any occasion, this casual dress
          combines comfort with modern style.
        </p>
        <a href="#" class="btn" style="background-color: #ffcc00; color: #000"
          >View Details</a
        >
      </div>
    </div>

    <div class="card col-md-12 col-xl-3 shadow border-0">
      <img
        src="shirt.jpg"
        class="card-img-top img-fluid"
        alt="Classic Denim Jacket"
      />
      <div class="card-body">
        <h5 class="card-title" style="color: #1a1a1a">Classic Denim Jacket</h5>
        <p class="card-text text-muted">
          A wardrobe essential, our classic denim jacket adds a timeless touch
          to any outfit. Pair it with jeans or a dress!
        </p>
        <a href="#" class="btn" style="background-color: #ffcc00; color: #000"
          >View Details</a
        >
      </div>
    </div>

    <div class="card col-md-12 col-xl-3 shadow border-0">
      <img
        src="jacket.png"
        class="card-img-top img-fluid"
        alt="Elegant Blouse"
      />
      <div class="card-body">
        <h5 class="card-title" style="color: #1a1a1a">Elegant Blouse</h5>
        <p class="card-text text-muted">
          Perfect for work or a night out, this elegant blouse is made from
          breathable fabric for all-day comfort.
        </p>
        <a href="#" class="btn" style="background-color: #ffcc00; color: #000"
          >View Details</a
        >
      </div>
    </div>
  </div>
</section>
